.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 17%;
    
  }
  
  .powerbi-button {
    padding: 21px 27px;
    font-size: 16px;
    background-color: #0078D4;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Georgia", monospace;
  }
  
  .powerbi-button:hover {
    background-color: #005A9E;
  }